<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.hall.dao.THallQueueMapper">

<sql id="BaseColumnList" >
        pk_queue_id,
        ordinal,
        window_name,
        agent,
        business_type,
        a_certificates_type,
        a_name,
        a_Idcard,
        b_certificates_type,
        b_name,
        b_Idcard,
        get_time,
        start_time,
        end_time,
  </sql>
    <!--通过主键查询单个-->
    <select id="selectById" resultType="com.hjy.hall.entity.THallQueue" parameterType="com.hjy.hall.entity.THallQueue">
        select
          pk_queue_id, ordinal, window_name, agent, business_type, a_certificates_type, a_name, a_Idcard, b_certificates_type, b_name, b_Idcard, get_time, start_time, end_time        from "c##root"."t_hall_queue"
        where "pk_queue_id" = #{pkQueueId,jdbcType=VARCHAR}
    </select>
    <!--通过实体作为筛选条件查询-->
    <select id="selectAllByEntity" resultType="com.hjy.hall.entity.THallQueue" parameterType="com.hjy.hall.entity.THallQueue">
        select * from "c##root"."t_hall_queue"
        <where>
            <if test="pkQueueId != null and pkQueueId != ''">
                and "pk_queue_id" = #{pkQueueId,jdbcType=VARCHAR}
            </if>
            <if test="ordinal != null and ordinal != ''">
                and "ordinal" = #{ordinal,jdbcType=VARCHAR}
            </if>
            <if test="windowName != null and windowName != ''">
                and "window_name" = #{windowName,jdbcType=VARCHAR}
            </if>
            <if test="agent != null and agent != ''">
                and "agent" = #{agent,jdbcType=VARCHAR}
            </if>
            <if test="businessType != null and businessType != ''">
                and "business_type" = #{businessType,jdbcType=VARCHAR}
            </if>
            <if test="aCertificatesType != null and aCertificatesType != ''">
                and "a_certificates_type" = #{aCertificatesType,jdbcType=VARCHAR}
            </if>
            <if test="aName != null and aName != ''">
                and "a_name" = #{aName,jdbcType=VARCHAR}
            </if>
            <if test="aIdcard != null and aIdcard != ''">
                and "a_Idcard" = #{aIdcard,jdbcType=VARCHAR}
            </if>
            <if test="bCertificatesType != null and bCertificatesType != ''">
                and "b_certificates_type" = #{bCertificatesType,jdbcType=VARCHAR}
            </if>
            <if test="bName != null and bName != ''">
                and "b_name" = #{bName,jdbcType=VARCHAR}
            </if>
            <if test="bIdcard != null and bIdcard != ''">
                and "b_Idcard" = #{bIdcard,jdbcType=VARCHAR}
            </if>
            <if test="getTime != null">
                and "get_time" = #{getTime,jdbcType=DATE}
            </if>
            <if test="startTime != null">
                and "start_time" = #{startTime,jdbcType=DATE}
            </if>
            <if test="endTime != null">
                and "end_time" = #{endTime,jdbcType=DATE}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert">
        insert into "c##root"."t_hall_queue"(ordinal, window_name, agent, business_type, a_certificates_type, a_name, a_Idcard, b_certificates_type, b_name, b_Idcard, get_time, start_time, end_time)
        values (#{ordinal}, #{windowName}, #{agent}, #{businessType}, #{aCertificatesType}, #{aName}, #{aIdcard}, #{bCertificatesType}, #{bName}, #{bIdcard}, #{getTime}, #{startTime}, #{endTime})
    </insert>
    <insert id="insertSelective" parameterType="com.hjy.hall.entity.THallQueue">
        insert into "c##root"."t_hall_queue"
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkQueueId != null and pkQueueId != ''">
               "pk_queue_id",
            </if>
        <if test="ordinal != null and ordinal != ''">
                "ordinal",
        </if>
        <if test="windowName != null and windowName != ''">
                "window_name",
        </if>
        <if test="agent != null and agent != ''">
                "agent",
        </if>
        <if test="businessType != null and businessType != ''">
                "business_type",
        </if>
        <if test="aCertificatesType != null and aCertificatesType != ''">
                "a_certificates_type",
        </if>
        <if test="aName != null and aName != ''">
                "a_name",
        </if>
        <if test="aIdcard != null and aIdcard != ''">
                "a_Idcard",
        </if>
        <if test="bCertificatesType != null and bCertificatesType != ''">
                "b_certificates_type",
        </if>
        <if test="bName != null and bName != ''">
                "b_name",
        </if>
        <if test="bIdcard != null and bIdcard != ''">
                "b_Idcard",
        </if>
        <if test="getTime != null">
                "get_time",
        </if>
        <if test="startTime != null">
                "start_time",
        </if>
        <if test="endTime != null">
                "end_time",
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="pkQueueId != null and pkQueueId != ''">
                #{pkQueueId,jdbcType=VARCHAR},
            </if>
                    <if test="ordinal != null and ordinal != ''">
                #{ordinal,jdbcType=VARCHAR},
            </if>
                    <if test="windowName != null and windowName != ''">
                #{windowName,jdbcType=VARCHAR},
            </if>
                    <if test="agent != null and agent != ''">
                #{agent,jdbcType=VARCHAR},
            </if>
                    <if test="businessType != null and businessType != ''">
                #{businessType,jdbcType=VARCHAR},
            </if>
                    <if test="aCertificatesType != null and aCertificatesType != ''">
                #{aCertificatesType,jdbcType=VARCHAR},
            </if>
                    <if test="aName != null and aName != ''">
                #{aName,jdbcType=VARCHAR},
            </if>
                    <if test="aIdcard != null and aIdcard != ''">
                #{aIdcard,jdbcType=VARCHAR},
            </if>
                    <if test="bCertificatesType != null and bCertificatesType != ''">
                #{bCertificatesType,jdbcType=VARCHAR},
            </if>
                    <if test="bName != null and bName != ''">
                #{bName,jdbcType=VARCHAR},
            </if>
                    <if test="bIdcard != null and bIdcard != ''">
                #{bIdcard,jdbcType=VARCHAR},
            </if>
                    <if test="getTime != null">
                #{getTime,jdbcType=DATE},
            </if>
                    <if test="startTime != null">
                #{startTime,jdbcType=DATE},
            </if>
                    <if test="endTime != null">
                #{endTime,jdbcType=DATE},
            </if>
                </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="updateById" parameterType="com.hjy.hall.entity.THallQueue">
        update "c##root"."t_hall_queue"
        <set>
            <if test="ordinal != null and ordinal != ''">
                "ordinal" = #{ordinal,jdbcType=VARCHAR},
            </if>
            <if test="windowName != null and windowName != ''">
                "window_name" = #{windowName,jdbcType=VARCHAR},
            </if>
            <if test="agent != null and agent != ''">
                "agent" = #{agent,jdbcType=VARCHAR},
            </if>
            <if test="businessType != null and businessType != ''">
                "business_type" = #{businessType,jdbcType=VARCHAR},
            </if>
            <if test="aCertificatesType != null and aCertificatesType != ''">
                "a_certificates_type" = #{aCertificatesType,jdbcType=VARCHAR},
            </if>
            <if test="aName != null and aName != ''">
                "a_name" = #{aName,jdbcType=VARCHAR},
            </if>
            <if test="aIdcard != null and aIdcard != ''">
                "a_Idcard" = #{aIdcard,jdbcType=VARCHAR},
            </if>
            <if test="bCertificatesType != null and bCertificatesType != ''">
                "b_certificates_type" = #{bCertificatesType,jdbcType=VARCHAR},
            </if>
            <if test="bName != null and bName != ''">
                "b_name" = #{bName,jdbcType=VARCHAR},
            </if>
            <if test="bIdcard != null and bIdcard != ''">
                "b_Idcard" = #{bIdcard,jdbcType=VARCHAR},
            </if>
            <if test="getTime != null">
                "get_time" = #{getTime,jdbcType=DATE},
            </if>
            <if test="startTime != null">
                "start_time" = #{startTime,jdbcType=DATE},
            </if>
            <if test="endTime != null">
                "end_time" = #{endTime,jdbcType=DATE},
            </if>
        </set>
        where "pk_queue_id" = #{pkQueueId,jdbcType=VARCHAR}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="com.hjy.hall.entity.THallQueue">
        delete from "c##root"."t_hall_queue" where "pk_queue_id" = #{pkQueueId,jdbcType=VARCHAR}
    </delete>
    <!--查询所有行数据-->
    <select id="selectAll" resultType="com.hjy.hall.entity.THallQueue">
        select * from "c##root"."t_hall_queue"
    </select>

</mapper>