<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.list.dao.TListInfoMapper">

<sql id="BaseColumnList" >
        pk_list_id,
        list_type,
        full_name,
        Idcard,
        tel,
        explain,
        other,
        reason,
        whether_pass,
        approval_people,
        unit,
        organization_code,
        apply_book,
        code_certificates,
        operator,
  </sql>
    <!--通过主键查询单个-->
    <select id="selectById" resultType="com.hjy.list.entity.TListInfo" parameterType="com.hjy.list.entity.TListInfo">
        select * from "liuchun"."t_list_info"
        where "pk_list_id" = #{pkListId,jdbcType=VARCHAR}
    </select>
    <!--通过实体作为筛选条件查询-->
    <select id="selectAllByEntity" resultType="com.hjy.list.entity.TListInfo" parameterType="com.hjy.list.entity.TListInfo">
        select * from "liuchun"."t_list_info"
        <where>
            <if test="pkListId != null and pkListId != ''">
                and "pk_list_id" = #{pkListId,jdbcType=VARCHAR}
            </if>
            <if test="listType != null and listType != ''">
                and "list_type" = #{listType,jdbcType=VARCHAR}
            </if>
            <if test="fullName != null and fullName != ''">
                and "full_name" = #{fullName,jdbcType=VARCHAR}
            </if>
            <if test="IdCard != null and IdCard != ''">
                and "Idcard" = #{IdCard,jdbcType=VARCHAR}
            </if>
            <if test="tel != null and tel != ''">
                and "tel" = #{tel,jdbcType=VARCHAR}
            </if>
            <if test="explain != null and explain != ''">
                and "explain" = #{explain,jdbcType=VARCHAR}
            </if>
            <if test="other != null and other != ''">
                and "other" = #{other,jdbcType=VARCHAR}
            </if>
            <if test="reason != null and reason != ''">
                and "reason" = #{reason,jdbcType=VARCHAR}
            </if>
            <if test="whetherPass != null and whetherPass != ''">
                and "whether_pass" = #{whetherPass,jdbcType=VARCHAR}
            </if>
            <if test="approvalPeople != null and approvalPeople != ''">
                and "approval_people" = #{approvalPeople,jdbcType=VARCHAR}
            </if>
            <if test="unit != null and unit != ''">
                and "unit" = #{unit,jdbcType=VARCHAR}
            </if><if test="organizationCode != null and organizationCode != ''">
                and "organization_code" = #{organizationCode,jdbcType=VARCHAR}
            </if><if test="applyBook != null and applyBook != ''">
                and "apply_book" = #{applyBook,jdbcType=VARCHAR}
            </if><if test="codeCertificates != null and codeCertificates != ''">
                and "code_certificates" = #{codeCertificates,jdbcType=VARCHAR}
            </if><if test="operator != null and operator != ''">
                and "operator" = #{operator,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insertSelective" parameterType="com.hjy.list.entity.TListInfo">
        insert into "liuchun"."t_list_info"
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="pkListId != null and pkListId != ''">
                "pk_list_id",
        </if>
        <if test="listType != null and listType != ''">
                "list_type",
        </if>
        <if test="fullName != null and fullName != ''">
                "full_name",
        </if>
        <if test="IdCard != null and IdCard != ''">
                "Idcard",
        </if>
        <if test="tel != null and tel != ''">
                "tel",
        </if>
        <if test="explain != null and explain != ''">
                "explain",
        </if>
        <if test="other != null and other != ''">
                "other",
        </if>
        <if test="reason != null and reason != ''">
                "reason",
        </if>
        <if test="whetherPass != null and whetherPass != ''">
                "whether_pass",
        </if>
        <if test="approvalPeople != null and approvalPeople != ''">
                "approval_people",
        </if><if test="unit != null and unit != ''">
                "unit",
        </if><if test="organizationCode != null and organizationCode != ''">
                "organization_code",
        </if><if test="applyBook != null and applyBook != ''">
                "apply_book",
        </if><if test="codeCertificates != null and codeCertificates != ''">
                "code_certificates",
        </if><if test="operator != null and operator != ''">
                "operator",
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="pkListId != null and pkListId != ''">
                #{pkListId,jdbcType=VARCHAR},
            </if>
            <if test="listType != null and listType != ''">
                #{listType,jdbcType=VARCHAR},
            </if>
                    <if test="fullName != null and fullName != ''">
                #{fullName,jdbcType=VARCHAR},
            </if>
                    <if test="IdCard != null and IdCard != ''">
                #{IdCard,jdbcType=VARCHAR},
            </if>
                    <if test="tel != null and tel != ''">
                #{tel,jdbcType=VARCHAR},
            </if>
                    <if test="explain != null and explain != ''">
                #{explain,jdbcType=VARCHAR},
            </if>
                    <if test="other != null and other != ''">
                #{other,jdbcType=VARCHAR},
            </if>
                    <if test="reason != null and reason != ''">
                #{reason,jdbcType=VARCHAR},
            </if>
                    <if test="whetherPass != null and whetherPass != ''">
                #{whetherPass,jdbcType=VARCHAR},
            </if>
                    <if test="approvalPeople != null and approvalPeople != ''">
                #{approvalPeople,jdbcType=VARCHAR},
            </if><if test="unit != null and unit != ''">
                #{unit,jdbcType=VARCHAR},
            </if><if test="organizationCode != null and organizationCode != ''">
                #{organizationCode,jdbcType=VARCHAR},
            </if><if test="applyBook != null and applyBook != ''">
                #{applyBook,jdbcType=VARCHAR},
            </if><if test="codeCertificates != null and codeCertificates != ''">
                #{codeCertificates,jdbcType=VARCHAR},
            </if><if test="operator != null and operator != ''">
                #{operator,jdbcType=VARCHAR},
            </if>
                </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="updateById" parameterType="com.hjy.list.entity.TListInfo">
        update "liuchun"."t_list_info"
        <set>
            <if test="listType != null and listType != ''">
                "list_type" = #{listType,jdbcType=VARCHAR},
            </if>
            <if test="fullName != null and fullName != ''">
                "full_name" = #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="IdCard != null and IdCard != ''">
                "Idcard" = #{IdCard,jdbcType=VARCHAR},
            </if>
            <if test="tel != null and tel != ''">
                "tel" = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="explain != null and explain != ''">
                "explain" = #{explain,jdbcType=VARCHAR},
            </if>
            <if test="other != null and other != ''">
                "other" = #{other,jdbcType=VARCHAR},
            </if>
            <if test="reason != null and reason != ''">
                "reason" = #{reason,jdbcType=VARCHAR},
            </if>
            <if test="whetherPass != null and whetherPass != ''">
                "whether_pass" = #{whetherPass,jdbcType=VARCHAR},
            </if>
            <if test="approvalPeople != null and approvalPeople != ''">
                "approval_people" = #{approvalPeople,jdbcType=VARCHAR},
            </if>
            <if test="unit != null and unit != ''">
                "unit" = #{unit,jdbcType=VARCHAR},
            </if>
            <if test="organizationCode != null and organizationCode != ''">
                "organization_code" = #{organizationCode,jdbcType=VARCHAR},
            </if><if test="applyBook != null and applyBook != ''">
                "apply_book" = #{applyBook,jdbcType=VARCHAR},
            </if><if test="codeCertificates != null and codeCertificates != ''">
                "code_certificates" = #{codeCertificates,jdbcType=VARCHAR},
            </if><if test="operator != null and operator != ''">
                "operator" = #{operator,jdbcType=VARCHAR},
            </if>
        </set>
        where "pk_list_id" = #{pkListId,jdbcType=VARCHAR}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="com.hjy.list.entity.TListInfo">
        delete from "liuchun"."t_list_info" where "pk_list_id" = #{pkListId,jdbcType=VARCHAR}
    </delete>
    <!--查询所有行数据-->
    <select id="selectAll" resultType="com.hjy.list.entity.TListInfo">
        select * from "liuchun"."t_list_info"
    </select>
    <select id="selectWaitApproval" resultType="com.hjy.list.entity.TListInfo">
        select * from "liuchun"."t_list_info"
        where "t_list_info"."approval_people" is null;
    </select>

</mapper>