<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.system.dao.TSysWindowMapper">

<sql id="BaseColumnList" >
        pk_window_id,
        dept_name,
        window_name,
        ip,
        business_type,
        operator_people,
        operator_time,
        control_card,
        remarks,
        branch_number,
        registration_window,
        com,
  </sql>
    <!--通过主键查询单个-->
    <select id="selectById" resultType="com.hjy.system.entity.TSysWindow" parameterType="com.hjy.system.entity.TSysWindow">
        select * from "liuchun"."t_sys_window"
        where "pk_window_id" = #{pkWindowId,jdbcType=VARCHAR}
    </select>
    <!--通过实体作为筛选条件查询-->
    <select id="selectAllByEntity" resultType="com.hjy.system.entity.TSysWindow" parameterType="com.hjy.system.entity.TSysWindow">
        select * from "liuchun"."t_sys_window"
        <where>
            <if test="pkWindowId != null">
                and "pk_window_id" = #{pkWindowId,jdbcType=VARCHAR}
            </if>
            <if test="deptName != null and deptName != ''">
                and "dept_name" = #{deptName,jdbcType=VARCHAR}
            </if>
            <if test="windowName != null and windowName != ''">
                and "window_name" = #{windowName,jdbcType=VARCHAR}
            </if>
            <if test="ip != null and ip != ''">
                and "ip" = #{ip,jdbcType=VARCHAR}
            </if>
            <if test="businessType != null and businessType != ''">
                and "business_type" = #{businessType,jdbcType=VARCHAR}
            </if>
            <if test="operatorPeople != null and operatorPeople != ''">
                and "operator_people" = #{operatorPeople,jdbcType=VARCHAR}
            </if>
            <if test="operatorTime != null">
                and "operator_time" = #{operatorTime,jdbcType=TIMESTAMP}
            </if>
            <if test="controlCard != null and controlCard != ''">
                and "control_card" = #{controlCard,jdbcType=VARCHAR}
            </if>
            <if test="remarks != null and remarks != ''">
                and "remarks" = #{remarks,jdbcType=VARCHAR}
            </if>
             <if test="branchNumber != null and branchNumber != ''">
                and "branch_number" = #{branchNumber,jdbcType=VARCHAR}
            </if>
            <if test="registrationWindow != null and registrationWindow != ''">
            and "registration_window" = #{registrationWindow,jdbcType=VARCHAR}
        </if><if test="com != null and com != ''">
            and "com" = #{com,jdbcType=VARCHAR}
        </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert">
        insert into "liuchun"."t_sys_window"(dept_name, window_name, ip, business_type, operator_people, operator_time, control_card, remarks,branch_number,registrationWindow,com)
        values (#{deptName}, #{windowName}, #{ip}, #{businessType}, #{operatorPeople}, #{operatorTime}, #{controlCard}, #{remarks}, #{branchNumber}, #{registrationWindow}, #{com})
    </insert>
    <insert id="insertSelective" parameterType="com.hjy.system.entity.TSysWindow">
        insert into "liuchun"."t_sys_window"
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="pkWindowId != null and pkWindowId != ''">
                "pk_window_id",
        </if>
            <if test="deptName != null and deptName != ''">
                "dept_name",
            </if>
        <if test="windowName != null and windowName != ''">
                "window_name",
        </if>
        <if test="ip != null and ip != ''">
                "ip",
        </if>
        <if test="businessType != null and businessType != ''">
                "business_type",
        </if>
        <if test="operatorPeople != null and operatorPeople != ''">
                "operator_people",
        </if>
        <if test="operatorTime != null">
                "operator_time",
        </if>
        <if test="controlCard != null and controlCard != ''">
                "control_card",
        </if>
        <if test="remarks != null and remarks != ''">
                "remarks",
        </if>
        <if test="branchNumber != null and branchNumber != ''">
                "branch_number",
        </if>
        <if test="registrationWindow != null and registrationWindow != ''">
                 "registration_window",
        </if>
        <if test="com != null and com != ''">
                "com",
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="pkWindowId != null and pkWindowId != ''">
                #{pkWindowId,jdbcType=VARCHAR},
            </if>
            <if test="deptName != null and deptName != ''">
                #{deptName,jdbcType=VARCHAR},
            </if>
            <if test="windowName != null and windowName != ''">
                #{windowName,jdbcType=VARCHAR},
            </if>
            <if test="ip != null and ip != ''">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="businessType != null and businessType != ''">
                #{businessType,jdbcType=VARCHAR},
            </if>
            <if test="operatorPeople != null and operatorPeople != ''">
                #{operatorPeople,jdbcType=VARCHAR},
            </if>
            <if test="operatorTime != null">
                #{operatorTime,jdbcType=TIMESTAMP},
            </if>
                    <if test="controlCard != null and controlCard != ''">
                #{controlCard,jdbcType=VARCHAR},
            </if>
                    <if test="remarks != null and remarks != ''">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="branchNumber != null and branchNumber != ''">
                #{branchNumber,jdbcType=VARCHAR},
            </if>
            <if test="registrationWindow != null and registrationWindow != ''">
                #{registrationWindow,jdbcType=VARCHAR},
            </if>
            <if test="com != null and com != ''">
                #{com,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="updateById" parameterType="com.hjy.system.entity.TSysWindow">
        update "liuchun"."t_sys_window"
        <set>
            <if test="deptName != null and deptName != ''">
                "dept_name" = #{deptName,jdbcType=VARCHAR},
            </if>
            <if test="windowName != null and windowName != ''">
                "window_name" = #{windowName,jdbcType=VARCHAR},
            </if>
            <if test="ip != null and ip != ''">
                "ip" = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="businessType != null and businessType != ''">
                "business_type" = #{businessType,jdbcType=VARCHAR},
            </if>
            <if test="operatorPeople != null and operatorPeople != ''">
                "operator_people" = #{operatorPeople,jdbcType=VARCHAR},
            </if>
            <if test="operatorTime != null">
                "operator_time" = #{operatorTime,jdbcType=TIMESTAMP},
            </if>
            <if test="controlCard != null and controlCard != ''">
                "control_card" = #{controlCard,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null and remarks != ''">
                "remarks" = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="branchNumber != null and branchNumber != ''">
                 "branch_number" = #{branchNumber,jdbcType=VARCHAR},
            </if>
            <if test="registrationWindow != null and registrationWindow != ''">
                 "registration_window" = #{registrationWindow,jdbcType=VARCHAR},
            </if><if test="com != null and com != ''">
             "com" = #{com,jdbcType=VARCHAR}
        </if>
        </set>
        where "pk_window_id" = #{pkWindowId,jdbcType=VARCHAR}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="com.hjy.system.entity.TSysWindow">
        delete from "liuchun"."t_sys_window" where "pk_window_id" = #{pkWindowId,jdbcType=VARCHAR}
    </delete>
    <!--查询所有行数据-->
    <select id="selectAll" resultType="com.hjy.system.entity.TSysWindow">
        select * from "liuchun"."t_sys_window"
    </select>
    <select id="selectWindowNameByIp" resultType="java.lang.String" parameterType="string">
        select "t_sys_window"."window_name" from "liuchun"."t_sys_window" where "ip" = #{Ip,jdbcType=VARCHAR}
    </select>
    <select id="selectWindowByIp" resultType="com.hjy.system.entity.TSysWindow"
            parameterType="string">
        select "t_sys_window"."window_name","t_sys_window"."business_type" from "liuchun"."t_sys_window" where "ip" = #{Ip,jdbcType=VARCHAR}
    </select>

</mapper>