<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.system.dao.TSysUserMapper">

<sql id="BaseColumnList" >
        pk_user_id,
        username,
        password,
        last_login_date,
        fk_dept_id,
        email,
        tel,
        enable_status,
        create_time,
        IDcard,
        modify_time,
        full_name,
        police_num,
        unit,
        on_line,
  </sql>
    <!--通过主键查询单个-->
    <select id="selectById" resultType="com.hjy.system.entity.TSysUser" parameterType="java.lang.String">
        select * from "liuchun"."t_sys_user"
        where "pk_user_id" = #{pkUserId,jdbcType=VARCHAR}
    </select>
    <!--通过实体作为筛选条件查询-->
    <select id="selectAllByEntity" resultType="com.hjy.system.entity.TSysUser" parameterType="com.hjy.system.entity.TSysUser">
        select * from "liuchun"."t_sys_user"
        <where>
            <if test="username != null and username != ''">
                and "username" like '%${username}%'
            </if>
            <if test="enableStatus != null">
                and "enable_status" = #{enableStatus,jdbcType=VARCHAR}
            </if>
            <if test="IDcard != null and IDcard != ''">
                and "IDcard" = #{IDcard,jdbcType=VARCHAR}
            </if>
            <if test="fullName != null and fullName != ''">
                and "full_name" = #{fullName,jdbcType=VARCHAR}
            </if>
            <if test="policeNum != null and policeNum != ''">
                and "police_num" = #{policeNum,jdbcType=VARCHAR}
            </if>
            <if test="unit != null and unit != ''">
                and "unit" = #{unit,jdbcType=VARCHAR}
            </if>
            <if test="onLine != null">
                and "on_line" = #{onLine,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert">
        insert into "liuchun"."t_sys_user"("pk_user_id","username", "password", "last_login_date", "fk_dept_id", "email", "tel", "enable_status", "create_time", "IDcard", "modify_time", "full_name", "police_num", "unit", "on_line")
        values (#{pkUserId}, #{username}, #{password}, #{lastLoginDate}, #{fkDeptId}, #{email}, #{tel}, #{enableStatus}, #{createTime}, #{IDcard}, #{modifyTime}, #{fullName}, #{policeNum}, #{unit}, #{onLine})
    </insert>
    <insert id="insertSelective" parameterType="com.hjy.system.entity.TSysUser">
        insert into "liuchun"."t_sys_user"
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="pkUserId != null and pkUserId != ''">
                "pk_user_id",
        </if>
        <if test="username != null and username != ''">
            "username",
        </if>
        <if test="password != null and password != ''">
                "password",
        </if>
        <if test="lastLoginDate != null">
                "last_login_date",
        </if>
        <if test="fkDeptId != null">
                "fk_dept_id",
        </if>
        <if test="email != null and email != ''">
                "email",
        </if>
        <if test="tel != null and tel != ''">
                "tel",
        </if>
        <if test="enableStatus != null">
                "enable_status",
        </if>
        <if test="createTime != null">
                "create_time",
        </if>
        <if test="IDcard != null and IDcard != ''">
                "IDcard",
        </if>
        <if test="modifyTime != null">
                "modify_time",
        </if>
        <if test="fullName != null and fullName != ''">
                "full_name",
        </if>
        <if test="policeNum != null and policeNum != ''">
                "police_num",
        </if>
        <if test="unit != null and unit != ''">
                "unit",
        </if>
        <if test="onLine != null">
                "on_line",
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="pkUserId != null and pkUserId != ''">
                #{pkUserId,jdbcType=VARCHAR},
            </if>
            <if test="username != null and username != ''">
                #{username,jdbcType=VARCHAR},
            </if>
                    <if test="password != null and password != ''">
                #{password,jdbcType=VARCHAR},
            </if>
                    <if test="lastLoginDate != null">
                #{lastLoginDate,jdbcType=VARCHAR},
            </if>
                    <if test="fkDeptId != null">
                #{fkDeptId,jdbcType=VARCHAR},
            </if>
                    <if test="email != null and email != ''">
                #{email,jdbcType=VARCHAR},
            </if>
                    <if test="tel != null and tel != ''">
                #{tel,jdbcType=VARCHAR},
            </if>
                    <if test="enableStatus != null">
                #{enableStatus,jdbcType=VARCHAR},
            </if>
                    <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
                    <if test="IDcard != null and IDcard != ''">
                #{IDcard,jdbcType=VARCHAR},
            </if>
                    <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
                    <if test="fullName != null and fullName != ''">
                #{fullName,jdbcType=VARCHAR},
            </if>
                    <if test="policeNum != null and policeNum != ''">
                #{policeNum,jdbcType=VARCHAR},
            </if>
                    <if test="unit != null and unit != ''">
                #{unit,jdbcType=VARCHAR},
            </if>
                    <if test="onLine != null">
                #{onLine,jdbcType=VARCHAR},
            </if>
                </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="updateById" parameterType="com.hjy.system.entity.TSysUser">
        update "liuchun"."t_sys_user"
        <set>
            <if test="username != null and username != ''">
                "username" = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                "password" = #{password,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginDate != null">
                "last_login_date" = #{lastLoginDate,jdbcType=TIMESTAMP},
            </if>
            <if test="fkDeptId != null">
                "fk_dept_id" = #{fkDeptId,jdbcType=VARCHAR},
            </if>
            <if test="email != null and email != ''">
                "email" = #{email,jdbcType=VARCHAR},
            </if>
            <if test="tel != null and tel != ''">
                "tel" = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="enableStatus != null">
                "enable_status" = #{enableStatus,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                "create_time" = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="IDcard != null and IDcard != ''">
                "IDcard" = #{IDcard,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                "modify_time" = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fullName != null and fullName != ''">
                "full_name" = #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="policeNum != null and policeNum != ''">
                "police_num" = #{policeNum,jdbcType=VARCHAR},
            </if>
            <if test="unit != null and unit != ''">
                "unit" = #{unit,jdbcType=VARCHAR},
            </if>
            <if test="onLine != null">
                "on_line" = #{onLine,jdbcType=VARCHAR},
            </if>
        </set>
        where "pk_user_id" = #{pkUserId,jdbcType=VARCHAR}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="java.lang.String">
        delete from "liuchun"."t_sys_user" where "pk_user_id" = #{pkUserId,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteUserRoleByUserId">
        delete from "liuchun"."re_user_role" where "fk_user_id" = #{fkUserId,jdbcType=VARCHAR}
    </delete>
    <!--查询所有行数据-->
    <select id="selectAll" resultType="com.hjy.system.entity.TSysUser">
        select * from "liuchun"."t_sys_user"
    </select>
    <select id="selectUserRoleByUserId" resultType="java.lang.String" parameterType="java.lang.String">
        select "fk_role_id" from "liuchun"."re_user_role" where "fk_user_id" = #{fkUserId,jdbcType=VARCHAR}
    </select>

</mapper>